@import '~office-ui-fabric-react/dist/sass/References.scss';

$themePrimary: '[theme:themePrimary, default:#dc1928]';
$themeSecondary: '[theme:themeSecondary, default:#2488d8]';
$themeTertiary: "[theme:themeTertiary, default:#69afe5]";
$themeLight: "[theme:themeLight, default:#b3d6f2]";
$themeAccent: "[theme:themeAccent, default:inherit]";
$themeDark: "[theme:themeDark, default:#005a9e]";
$themeDarkAlt: "[theme:themeDarkAlt, default:#106ebe]";
$themeDarker: "[theme:themeDarker, default:#004578]";

.organizationChart {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.primaryText {
  font-weight: 600;
}

.secondaryText {
  font-size: 11px;
}

.me {
  border: 1px solid #5B5FC7;
  padding-top: 8px;
  padding-left: 8px;
  margin-left: 12px;
}

.directReports {
  padding-top: 8px;
  padding-left: 8px;
  margin-left: 24px;
}